html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family:'Public Sans', sans-serif;
    line-height: 1.3;
    font-size: $fontMedium;
    color: $grayishBlue;
    font-weight: 300;
    overflow-x: hidden;
    &.noscroll {
        overflow: hidden;
    }

}
a, a:visited, a:hover {
    text-decoration: none;
}

.container {
    max-width: 69.375rem;
    margin: auto;

    &--pall{
        padding: 2.25rem 1.5rem;
    }
    &--py {
        padding: 2.25rem 0;
    }
    &--px {
        padding: 0 1.5rem;
    }
    &--pt{
        padding-top: 2.25rem;
    }
    &--pr{
        padding-right: 1.5rem;
    }
    &--pb{
        padding-bottom: 2.25rem;
    }
    &--pl{
        padding-left: 1.5rem;
    }
}

//flex
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }
    &-js-c {
        justify-content: center;
    } 
    &-ai-c {
        align-items: center;
    }
}


//buttons
button, .button {
    padding: 0.875rem 2.1875rem;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    color: $white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    transition: all .2s ease-in-out;
    &:hover{
        opacity: 0.75;
    }
}

//visibility 
.hd-mob{
    //hide for tablet and mobile
    @include breakpoint-down(medium){
        display: none;
    }
}

.hd-dsk{
    //hide for desktop
    @include breakpoint-up(large){
        display: none;
    }
}