.hero {
    background-color: $veryLightGray;
    .container {
        @include breakpoint-up(large){
            display: flex;
            align-items: center;
        }
    }

    &__img {
        position: relative;
        background-image: url('/images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
        @include breakpoint-up(large){
            flex:3;
            order: 2;
            height: 80vh;
            background-image: none;
            //background-image: url('/images/bg-intro-desktop.svg');
            //background-position: left center;
        }
        &::before{
  
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url('/images/bg-intro-desktop.svg');
            background-size: 95%;
            background-repeat: no-repeat;
            background-position: center bottom;
            @include breakpoint-up(large){
                content:"";
                width: 160%;
                background-size: 145%;
                background-position: 15% 65%
            }
        }
        &::after{
            content:"";
            position: absolute;
            height: 100%;
            width: 100%;
            background-image: url('/images/image-mockups.png');
            background-size: 95%;
            background-repeat: no-repeat;
            background-position: center bottom;
            @include breakpoint-up(large){
                height: 130%;
                width: 130%;
                background-size: 100%;
                left:15%;
                background-position: left 180%;
            }
        }
    }
    &__text {
        text-align: center;
        @include breakpoint-up(large){
            flex:2;
            order:1;
            text-align: left;
        }
        .title {
            font-size: 2.3rem;
            font-weight: 300;
            line-height: 1.15;
            color:$darkBlue;
            margin-bottom: 1.5rem;
            @include breakpoint-up(large) {
                font-size: $fontXl;
            }
        }
        .desc {
            line-height: 1.5;
            font-size: 1rem;
            margin-bottom: 2rem;
            @include breakpoint-up(large) {
                font-size: $fontMedium;
            }
        }
    }
}